/*body {
    background: #000
}*/
.touch-number {

}
.touch-number .btn-group {
	width: 100%;
	float: left;
}
.touch-number .btn-group button {
	width: 33.3%;
    float: left;
    background: #f7f7f7;
    border: none;
    font-size: 22px;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    color: #000;
    transition: all 0.3s ease-in-out;
}
.touch-number .notify.red button {
	background: red;
}
.touch-number .input-score {
    height: 45px;
    font-size: 22px;
    padding: 0 15px;
}